body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}
img {
  max-width: 100%;
  height: auto;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding: 10px;
}
.footer {
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: #efefef;
  }
  #copyright{
    color: #efefef;
  }
  /* SERVICE STYLE */
  .li_subservices{
      padding: 10px;
  }
  .ul_subservices{
    text-align: center;
  }
  .card-header{
    text-align: center;
    
  }
  button.btn.btn-link{
    font-size: 1.2em;
    color: #030e19 !important;
    padding: 20px;
  }

  .btn-primary{
    background-color: #00afed !important;
  }
  .contact-info {
    text-align: center;
    padding: 10px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #00afed !important;
  }
 
  .nzarh_logo{
    width: 100px;
  }
  .arrow{
    width: 50px;
  }
  .h2_phone{
    text-align: center;
  }
